# Node.js dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Environment variables
.env
.env.local

# OS-specific files
.DS_Store
Thumbs.db

# Build output
dist/

# Editor settings
.vscode/
.idea/

# Tests and coverage
coverage/
*.lcov
jest/

# Miscellaneous
*.bak
*.tmp
*.swp
